## Importa bibliotecas
* pandas
* numpy

In [43]:
import pandas as pd
import numpy as np

In [44]:
%pip install certifi

Requirement already satisfied: certifi in /opt/anaconda3/lib/python3.9/site-packages (2021.10.8)
Note: you may need to restart the kernel to use updated packages.

## Importando base de dados

In [45]:
df = pd.read_csv('https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2022/precos-gasolina-etanol-04.csv', sep=';')
df.head(3)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,S,PR,CASCAVEL,AUTO POSTO ESPELHO D'ÁGUA LTDA,03.820.930/0001-80,AVENIDA BRASIL,5101,NaN,CENTRO,85812-001,GASOLINA,01/04/2022,"7,21",NaN,R$ / litro,BRANCA
1,S,PR,CASCAVEL,AUTO POSTO ESPELHO D'ÁGUA LTDA,03.820.930/0001-80,AVENIDA BRASIL,5101,NaN,CENTRO,85812-001,ETANOL,01/04/2022,"5,11",NaN,R$ / litro,BRANCA
2,S,PR,CASCAVEL,AUTO POSTO ESPELHO D'ÁGUA LTDA,03.820.930/0001-80,AVENIDA BRASIL,5101,NaN,CENTRO,85812-001,GASOLINA ADITIVADA,01/04/2022,"7,23",NaN,R$ / litro,BRANCA

In [46]:
# Limpeza dos dados e colunas da base
df.drop(['Regiao - Sigla', 'Revenda', 'CNPJ da Revenda', 'Nome da Rua', 'Numero Rua', 'Complemento', 'Cep', 'Valor de Compra', 'Bandeira'], axis=1, inplace=True)

In [47]:
df.drop_duplicates().dropna()

,Estado - Sigla,Municipio,Bairro,Produto,Data da Coleta,Valor de Venda,Unidade de Medida
0,PR,CASCAVEL,CENTRO,GASOLINA,01/04/2022,"7,21",R$ / litro
1,PR,CASCAVEL,CENTRO,ETANOL,01/04/2022,"5,11",R$ / litro
2,PR,CASCAVEL,CENTRO,GASOLINA ADITIVADA,01/04/2022,"7,23",R$ / litro
3,PR,CASCAVEL,CENTRO,GASOLINA,01/04/2022,"7,29",R$ / litro
4,PR,CASCAVEL,CENTRO,ETANOL,01/04/2022,"5,19",R$ / litro
...,...,...,...,...,...,...,...
54954,PE,VITORIA DE SANTO ANTAO,REDENCAO,ETANOL,28/04/2022,"5,58",R$ / litro
54955,ES,ARACRUZ,CENTRO,GASOLINA,27/04/2022,"7,69",R$ / litro
54956,ES,ARACRUZ,CENTRO,GASOLINA ADITIVADA,27/04/2022,"7,69",R$ / litro
54957,ES,ARACRUZ,CENTRO,ETANOL,27/04/2022,"6,49",R$ / litro
54958,MG,ARAXA,CENTRO,ETANOL,28/04/2022,"5,899",R$ / litro

In [48]:
# Renomendo a coluna "Estado-Sigla" para "Estado"
df.rename(columns={'Estado - Sigla': 'Estado'}, inplace=True)

In [49]:
df

,Estado,Municipio,Bairro,Produto,Data da Coleta,Valor de Venda,Unidade de Medida
0,PR,CASCAVEL,CENTRO,GASOLINA,01/04/2022,"7,21",R$ / litro
1,PR,CASCAVEL,CENTRO,ETANOL,01/04/2022,"5,11",R$ / litro
2,PR,CASCAVEL,CENTRO,GASOLINA ADITIVADA,01/04/2022,"7,23",R$ / litro
3,PR,CASCAVEL,CENTRO,GASOLINA,01/04/2022,"7,29",R$ / litro
4,PR,CASCAVEL,CENTRO,ETANOL,01/04/2022,"5,19",R$ / litro
...,...,...,...,...,...,...,...
54955,ES,ARACRUZ,CENTRO,GASOLINA,27/04/2022,"7,69",R$ / litro
54956,ES,ARACRUZ,CENTRO,GASOLINA ADITIVADA,27/04/2022,"7,69",R$ / litro
54957,ES,ARACRUZ,CENTRO,ETANOL,27/04/2022,"6,49",R$ / litro
54958,MG,ARAXA,CENTRO,ETANOL,28/04/2022,"5,899",R$ / litro
54959,MG,ARAXA,CENTRO,GASOLINA,28/04/2022,"7,699",R$ / litro

In [50]:
# Obtendo informações do DataFrame
df.dtypes

Estado               object
Municipio            object
Bairro               object
Produto              object
Data da Coleta       object
Valor de Venda       object
Unidade de Medida    object
dtype: object

In [51]:
df['Valor de Venda'] = df['Valor de Venda'].str.replace(',','.').astype(float)

In [52]:
df

,Estado,Municipio,Bairro,Produto,Data da Coleta,Valor de Venda,Unidade de Medida
0,PR,CASCAVEL,CENTRO,GASOLINA,01/04/2022,7.210,R$ / litro
1,PR,CASCAVEL,CENTRO,ETANOL,01/04/2022,5.110,R$ / litro
2,PR,CASCAVEL,CENTRO,GASOLINA ADITIVADA,01/04/2022,7.230,R$ / litro
3,PR,CASCAVEL,CENTRO,GASOLINA,01/04/2022,7.290,R$ / litro
4,PR,CASCAVEL,CENTRO,ETANOL,01/04/2022,5.190,R$ / litro
...,...,...,...,...,...,...,...
54955,ES,ARACRUZ,CENTRO,GASOLINA,27/04/2022,7.690,R$ / litro
54956,ES,ARACRUZ,CENTRO,GASOLINA ADITIVADA,27/04/2022,7.690,R$ / litro
54957,ES,ARACRUZ,CENTRO,ETANOL,27/04/2022,6.490,R$ / litro
54958,MG,ARAXA,CENTRO,ETANOL,28/04/2022,5.899,R$ / litro
54959,MG,ARAXA,CENTRO,GASOLINA,28/04/2022,7.699,R$ / litro

In [57]:
# Tranformando data no formato correto 
df['Data da Coleta'] = pd.to_datetime(df['Data da Coleta'])

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '13/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '14/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '15/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '20/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '19/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '21/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '18/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '22/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '27/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '26/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '28/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '25/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/tools/datetimes.py:1047: UserWarning: Parsing '29/04/2022' in DD/MM/YYYY format. Provide format or specify infer_datetime_format=True for consistent parsing.
  cache_array = _maybe_cache(arg, format, cache, convert_listlike)

In [58]:
df

,Estado,Municipio,Bairro,Produto,Data da Coleta,Valor de Venda,Unidade de Medida
0,PR,CASCAVEL,CENTRO,GASOLINA,2022-01-04,7.210,R$ / litro
1,PR,CASCAVEL,CENTRO,ETANOL,2022-01-04,5.110,R$ / litro
2,PR,CASCAVEL,CENTRO,GASOLINA ADITIVADA,2022-01-04,7.230,R$ / litro
3,PR,CASCAVEL,CENTRO,GASOLINA,2022-01-04,7.290,R$ / litro
4,PR,CASCAVEL,CENTRO,ETANOL,2022-01-04,5.190,R$ / litro
...,...,...,...,...,...,...,...
54955,ES,ARACRUZ,CENTRO,GASOLINA,2022-04-27,7.690,R$ / litro
54956,ES,ARACRUZ,CENTRO,GASOLINA ADITIVADA,2022-04-27,7.690,R$ / litro
54957,ES,ARACRUZ,CENTRO,ETANOL,2022-04-27,6.490,R$ / litro
54958,MG,ARAXA,CENTRO,ETANOL,2022-04-28,5.899,R$ / litro
54959,MG,ARAXA,CENTRO,GASOLINA,2022-04-28,7.699,R$ / litro

In [61]:
# Salvando base limpa formato "CSV"
df.to_csv('dados_limpos.csv', index=False)